NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_INVOICE_CONTRACT_ID=
NEXT_PUBLIC_API_URL=https://staging-api.tradeflow.app
PINATA_API_KEY=
PINATA_SECRET_API_KEY=
NEXT_PUBLIC_SENTRY_DSN=